%warning {
  /* Highlight element with a dotted line and ensure our message will position correctly: */
  outline: 1px dashed #000;
  position: relative;

  &:after {
    /* Define our warning & error messages: */

    // Default message: (Should be overridden by each warning)
    content: 'Warning!';

    // Deliberately override all background styles, not just background-color:
    background: #f6e232;
    // shadow color default to text color:
    box-shadow: 0px 1px 2px 0px;
    color: #000;

    font-family: sans-serif;
    font-size: 0.5rem;
    line-height: 2;
    white-space: nowrap;

    padding: 0.1em;

    display: block;
    position: absolute;
    min-width: 0.5rem;
    min-height: 0.5rem;
    left: 1em;
    top: 1em;

    // These are only included to override any existing page styles:
    bottom: auto;
    right: auto;
    height: auto;
    width: auto;
    text-transform: none;

    // Jaunty angle to help distinguish from standard page design:
    transform: rotate(-4deg);
    //z-index: 1;
  }
}

%error {
  @extend %warning;

  &:after {
    /* Define our error messages: */
    background: #f4e834;
    color: #000;

    // Default message: (Should be overridden by each error)
    content: 'Error!';
  }
}

@mixin warning($message) {
  @extend %warning;
  &:after {
    content: '💩 #{$message}';
  }
}

@mixin error($message) {
  @extend %error;
  &:after {
    content: '⚠️ #{$message}';
  }
}
